.entry-content,.johannes-comment-form,#commentform,.johannes-footer,.johannes-related,.johannes-order-2,.johannes-author,.meks_ess,.johannes-header,.johannes-section.category-pill.johannes-cover.johannes-bg-alt-2.single-layout-4.johannes-section-margin-alt.size-johannes-single-4 {display:none!important}
.dw-reactions{border:none!important}
.container.irc-mobile {padding-right:0;padding-left:0}
.container.irc-mobile p{padding-right:15px;padding-left:15px}
.entry-header h1.entry-title {text-align: center}
#um-submit-btn {background:#FE0000!important}
.um-left,.um-right {margin:0 0 10px 0!important;float:none!important;width:100%!important}
.attachments-browser .attachments {overflow-y: auto!important}
.johannes-section-margin-alt.johannes-cover{margin-bottom:-10px}